# ============================
# FRONTEND IGNORE
# ============================
student-planner-FE/node_modules/
student-planner-FE/dist/
student-planner-FE/.local

# ============================
# BACKEND IGNORE
# ============================
vendor/
composer.lock
*.env
.env

# ============================
# COMMON IGNORE
# ============================
node_modules/
dist/

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
